* {
    margin: 0;
    -webkit-user-select: none;
}

.cube-wrapper {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    cursor: pointer;
    perspective: 1500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

canvas {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
}

.block {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #000;
}

.block-inner {
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    border-radius: 8px;
}

.front .block-inner {
    background-color: #2a6496;
}

.left .block-inner {
    background-color: darkred;
}

.right .block-inner {
    background-color: yellow;
}

.back .block-inner {
    background-color: #E87000;
}

.up .block-inner {
    background-color: #5cb85c;
}

.bottom .block-inner {
    background-color: #FF00FF;
}